body {
    font-family: 'Courier New', Courier, monospace;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.numbered-list {
    list-style-type: upper-roman;
    margin-left: 40px;
    margin-top: 20px;
    padding-left: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.numbered-list > li {
    border: 2px solid purple;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}