* {
    margin: 0;
    padding: 0;
}

h1::selection,
h2::selection,
p::selection {
    background-color: rgb(99, 0, 0);
    color: white;
}

.header {
    /* border-bottom: 2px solid black; */
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.header::after {
    content: "";
    display: block;
    width: 600px;
    height: 2px;
    background-color: rgb(99, 0, 0);

    transform: rotate(1deg) scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

/* .header:hover::after {
    transform: rotate(1deg) scaleX(1);
} */


/* test animation */
.header::after {
    animation: underlineLoop 4s ease-in-out infinite;
}

@keyframes underlineLoop {
    0% {
        transform: rotate(1deg) scaleX(0);
    }
    40% {
        transform: rotate(1deg) scaleX(1);
    }
    70% {
        transform: rotate(1deg) scaleX(1);
    }
    100% {
        transform: rotate(1deg) scaleX(0);
    }
}

/* test animation */

.text {
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

.text::first-letter {
    font-size: 35px;
    font-weight: 900;
    color: rgb(99, 0, 0);
}

/* .text::selection {
    background-color: rgb(99, 0, 0);
    color: white;
}

.header::selection {
    background-color: rgb(99, 0, 0);
    color: white; 
} */

.button {
    /* position: relative; */
    padding: 20px 40px;
    background-color: brown;
    transition: all 5s;
}

.div:hover .button {
    /* background-color: aqua; */
    /* bottom: 300px; */
    transform: translateY(-300px);
}


.fade {
    opacity: 0;
    transition: opacity 1s;
    width: 300px;
    height: 300px;
    background-color: red;
}

.fade.visible {
    opacity: 1;
} 